useDynLib(vcmasf, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(splines2, pracma)
export(vcm.asf.global)
export(vcm.asf.predictor.specific)
export(vcm.asf.equidistant)
export(vcm.variable.selection)
